<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crm">
    <application android:label="CRM Imobiliário" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".AddLeadActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
